<link rel="stylesheet" type="text/css" href="type/categorise/css/tabulator.min.css" />
<div>
    <div class="btn btn-primary" id="add-row">Add Blank Row to bottom</div>
    <div class="btn btn-primary" id="add-col">Add Column</div>
    <div class="btn btn-primary" id="del-row">Remove Row</div>
    <div class="btn btn-primary" id="clear">Empty the table</div>
    <div class="btn btn-primary" id="reset">Reset</div>
</div>